<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="/js/home/login.js"></script>
    <!-- 미들웨어에 static 메소드를 이용하여 정적 경로를 추가해줬음 -->
    <title>Login</title>
</head>
<body>
    <input id="id" type="text" placeholder="아이디"/><br>
    <input id="password" type="password" placeholder="비밀번호"/><br>
    <button type="submit">로그인</button>
</body> 
</html>